body{
    max-width: 1230px;
    padding: 15px;
    margin: 0 auto;
    background-color: #e6d1d1;
}
.save-button{
    background-color: rgb(16, 132, 226);
    padding:15px;
    border: none;
    color: #fff;
    cursor: pointer;
}

#editorjs{
    background-color: #fff;
    margin-bottom: 30px;
}

.hidden{
    display: none;
}